/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Variables */
:root {
    --main-font-color: #FFFFFF;
    --strong-font-color: #FF286D;
    --date-font-color: #8B94A9;
    --main-bg-color: #19204A;
    --card-bg-color: #1F2C5B;
    --font-size: 22px;
}

body {
    background-color: var(--main-bg-color);
    font-size: var(--font-size);
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

/*------------------------ Cards Container ------------------------*/
#cards-container {
    width: 676px;
    height: 210px;
    margin: auto;
    margin-top: 159px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    background-color: var(--card-bg-color);
    width: 210px;
    height: 210px;
    border-radius: 15px;
}

.card div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}